<app-menu-bar></app-menu-bar>

<app-menu-title
title="Fatos News"></app-menu-title>
<div class="container_components">
  <div class="articles_main">
  <app-big-card
  photo="https://images.pexels.com/photos/15242361/pexels-photo-15242361/free-photo-of-animal-bicho-passaro-ave.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  cardAutor="Junior Melo"
  cardTitle="Ave Aquatica repousando no final da tarde."
  cardDescription="A imagem de uma ave aquática repousando no final da tarde evoca uma cena tranquila e serena.
   Pode ser um momento perfeito para observar a natureza e apreciar a beleza do entardecer. 
  Aqui está uma descrição poética dessa cena:">
  </app-big-card>
</div>
<div class="articles_others">
  <app-small-card
  sphoto="https://images.pexels.com/photos/5895399/pexels-photo-5895399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  sautor="Erik Mclean"
  sTitle="Robô Wall-e personagem iconica de filmes infantil,Wall-e é um robozinho que buscar vida na terra.">
  </app-small-card>

  <app-small-card
  sphoto="https://images.pexels.com/photos/2541239/pexels-photo-2541239.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  sautor="Jhon the ripper"
  sTitle="A imagem de um tigre e seu filhote em um parque deitados, observando atentos aos turistas."></app-small-card>
  <app-small-card
  sphoto="https://images.pexels.com/photos/247502/pexels-photo-247502.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  sautor="Jhon Smith"
  sTitle="O leão é frequentemente descrito como o rei da selva soberano das savanas"></app-small-card>
  
</div>
</div>

