<div class="container_menu-bar">
  <div class="icon">
    <h1>RM</h1>
  </div>

    <div class="menu-bar">
          <p>Home</p>
          <p>About</p>
          <p>Contact</p>
    </div>
  <div class="social-media">
    <a href="#">LinkedIn</a>
    <a href="#">Github</a>
    <a href="#">Instagran</a>
  </div>

  <div class="menu-hamburguer">
    <nav class="navigation">
      <button>
        <ul>
        <li><hr></li>
        <li><hr></li>
        <li><hr></li>
      </ul>
      </button>


    </nav>
  </div>
</div>
